# Database
DATABASE_URL="file:./dev.db"

# Auth.js
# Generate a secret: openssl rand -base64 32
NEXTAUTH_SECRET="El0t5ZDGwNSCt2qMEOlawogKmHwkGcxhLhh+MLjL0Gc="
NEXTAUTH_URL="http://localhost:3000"

# Encryption
# Generate an encryption key: openssl rand -hex 32
ENCRYPTION_KEY="039c22f866dcc638de0b35e03e0e74a7a2d23462af7237019ca491bb41346fb9"

# Ollama Server
OLLAMA_SERVER_URL="http://10.10.10.216:11434"

# Application
NODE_ENV="development"
PORT="3000"
WS_PORT="3001"
